.app-container {
    display: flex; // Use flexbox to display components side by side
    justify-content: space-between; // Add space between components
  }
  
  .event-list {
    flex: 1; // Make EventList component flexible to occupy available space
  }
  
  .selected-events {
    flex: 1; // Make SelectedEvents component flexible to occupy available space
  }
  